version: "3.8"

services:
  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
    ports:
      - "127.0.0.1:9000:9000"
      - "127.0.0.1:9001:9001"
    volumes:
      - ./data/minio:/data

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: vericase
      POSTGRES_PASSWORD: vericase
      POSTGRES_DB: vericase
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data

  redis:
    image: redis:7

  opensearch:
    image: opensearchproject/opensearch:2.10.0
    environment:
      - discovery.type=single-node
      - plugins.security.disabled=true
      - OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - ./data/opensearch:/usr/share/opensearch/data

  tika:
    image: apache/tika:latest

  api:
    build:
      context: ../../
      dockerfile: api/Dockerfile
    env_file: ../../.env
    depends_on:
      - minio
      - postgres
      - redis
      - opensearch
      - tika
    ports:
      - "127.0.0.1:8000:8000"
    volumes:
      - ../../ui:/code/ui:ro

  worker:
    build:
      context: ../../
      dockerfile: worker/Dockerfile
    env_file: ../../.env
    depends_on:
      - minio
      - postgres
      - redis
      - opensearch
      - tika
